{% load news_extras %}
<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <meta name="renderer" content="webkit">
  <title></title>
  <meta name="description" content="在这里知道明天的事">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="assets/amazeui/css/amazeui.min.css">
    <link rel="stylesheet" href="assets/amazeui/css/app.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 不提供支持。 请 <a
  href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<script type="text/x-handlebars-template" id="amz-tpl">
  {% templatetag openvariable %}>header header{% templatetag closevariable %}

  {% templatetag openvariable %}>menu menu{% templatetag closevariable %}

  {% templatetag openvariable %}>list_news list1{% templatetag closevariable %}

  {% templatetag openvariable %}>gallery gallery{% templatetag closevariable %}

  {% templatetag openvariable %}>list_news list2{% templatetag closevariable %}

</script>

<script src="assets/amazeui/js/jquery.min.js"></script>
<script src="assets/amazeui/js/amazeui.js"></script>
<script src="assets/amazeui/js/handlebars.min.js"></script>
<script src="assets/amazeui/js/amazeui.widgets.helper.js"></script>
<script>
  var $tpl = $('#amz-tpl');
  var source = $tpl.text();
  var template = Handlebars.compile(source);
  var data = {
    header: {
      "className": "am-header-fixed",
      "content": {
        "title": "明知"
      }
    },

    menu: {
      "options": {
        "cols": "3",
        "offCanvasFlip": true,
      },
      "content": {% autoescape off %} {% menu_json %} {% endautoescape %},
      "theme": "offcanvas2"
    },

    list1: {
      "options": {
        "type": "thumb",
        "thumbPosition": "left"
      },
      "content": {
        "header": {
          "title": "明天早知道",
          "link": "{% url 'newslist' %}",
          "moreText": "更多 >>",
          "morePosition": "top"
        },
        "main": {% autoescape off %}
                  {{ main }}
                {% endautoescape %}
      }
    },

    // gallery: {
    //   "options": {
    //     "cols": 2,
    //     "gallery": true
    //   },
    //   "content":
    //             {% autoescape off %}
    //               {{ main_pic_news }}
    //             {% endautoescape %}
  
    // },

    list2: {
      "content": {
        "header": {
          "title": "明天推荐",
          "link": "{% url 'newslist' %}",
          "moreText": "更多 >>",
          "morePosition": "top"
        },
        "main": 
                {% autoescape off %}
                  {{ no_pic_main }}
                {% endautoescape %}
      }
    },


    navbar: {
      "options": {
        "cols": "3",
        "iconpos": "top"
      },
      "content": [
        {
          "title": "二维码",
          "link": "",
          "icon": "qrcode",
          "dataApi": "data-am-navbar-qrcode"
        },
        {
          "title": "关于我们",
          "link": "",
          "icon": "user-md",
          "dataApi": ""
        },
      ]
    }
  };
  var html = template(data);

  $tpl.before(html);

  /*
  // 如果 Handlebars 渲染出来的 HTML 在 DOM ready 事件之后插入文档，需要手动初始化组件
   $.each(['slider', 'menu', 'gallery', 'footer', 'navbar'], function(i, m) {
     var module = $.AMUI[m];
     module && module.init && module.init();
   })
   */
</script>
<style>
.am-menu-toggle-icon{
    position: fixed;
}
::-webkit-scrollbar{
  display:none;
}
</style>
</body>
</html>
